/* body element only used to set background colour */
body {background-color: powderblue;}
p {padding-top:0px; padding-bottom:0px; padding-left:0px; padding-right:0px;}

h1{
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
  font-size: 36px;
  line-height: 40px;
}


/* Classes to control layout */

.body {background-color: white; margin-top: 20px; margin-bottom: 20px; margin-left: 40px; margin-right: 40px;}
.body_text {padding-left:5px; padding-right:5px;}
.menu {background-color: black; color: white; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px;}
#menu a:link { color:yellow; text-decoration:underline; font-weight:bold; }
#menu a:visited { color: yellow; text-decoration:underline; font-weight:bold; }
#menu a:hover { background-color: yellow; color:black; text-decoration:underline; font-weight:bold; }
#menu a:active { color: yellow; text-decoration:underline; font-weight:bold; }
.footer {background-color: black; color: white; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px;}

/*this code manages the display of the text entry fields in the forms.*/

input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/*this code manages the colour of the form elements when they are selected by the user.*/


input[type=password]:focus {
    background-color: lightblue;
}

input[type=number]:focus {
    background-color: lightblue;
}

/* this code manages the tables */
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

